a
{
    margin: 10px 10px;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}

button
{
    background-color: rgb(255, 225, 186);
    padding: 2px;
}
#interactiveArea
{
    border-style: solid;
    border-width: 3px;
    padding: 30px;
    background-color: rgba(188, 255, 255, 0.5);
}

#displayListDiv
{
    border-style: solid;
    border-width: 1px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.completed
{
    text-decoration: line-through;
    color:rgba(0, 0, 0, 0.35);
    border-color:rgba(0, 0, 0, 0.35);
}

.tasks
{
    background: none;
    border-radius: 10px;
    margin: 5px;
    padding
}