/*change browser defaults to known settings to stabalize user experience*/
body
{
    margin: 0;
    padding: 0;
}

/*global center style*/
.appContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*fix Back and Start buttons' locations on screen*/
#backBtn
{
    position: fixed;
    left: 25px;
    top: 25px;
}
#startGameBtn
{
 position: fixed;
 bottom: 25px;
 left: 40%;
 
}

/*Style all Links as buttons*/
a
{
    text-decoration: none;
    padding:10px;

}
/*Start Screen styles*/
.startTitles
{
    margin: auto;
}
.startScreenButtons
{
    margin: auto;
}
.steamsScreenBtn
{
 margin: 1.5rem;
}
.howToPlayBtn
{
margin: 1.5rem;
}

/*Teams Screen styles*/



.ruleBook
{
    overflow-y: auto;
    height: 250px;
    border-style: solid;
    border-width: 2px;
    padding:5px;
    margin:5px;
}