/*
    Color Codes
#009E60 Shamrock Green       Start button
#51291E Caput Mortuum        Score background
#E0E2DB Alabaster            Border color
#E7F9A9 Mindadro             Score text color
#EAC435 Saffron              Title color
#7C7C7C Gray                 Background color
*/





body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #7C7C7C;
}
h1{
    color: #EAC435;
}
table{
    border-style: solid;
    border-width: 2px;
    border-color: #E0E2DB;
    height: 400px;
    width: 400px;
}

#score_box{
    border-style: solid;
    border-width: 2px;
    border-color: #E0E2DB;
    color: #EAC435;
    width: 150px;
    text-align: right;
    padding-right: 5px;
    margin-bottom: 2px;
    margin-left: 60.25%;
}

#start_button{
    padding: 10px 20px;
    margin-top: 25px;
    background-color: #009E60;
    color: #E0E2DB;
}

#game_rules{
    background-color: #E0E2DB;
    padding: 5px;
    border-radius: 50%;
}

footer{
    
}